*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --enzo-red:#EF083E;
    --paragraph: clamp(.8rem, 2vw, 1.2rem);
}

.header{
    width: 100%;
    height: 100vh;
    background-image: url(../images/pexels-leon-ardho-1552242.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header .navbar{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 5%;
}

.header .logo img{
    width: 60px;
    padding: 1em 0;
    cursor: pointer;
}

.header .nav{
    display: flex;
    list-style: none;
}

.nav li{
    cursor: pointer;
    padding: .5em 1em;
    border-radius: 5px;
}

.nav li:hover{
    background-color: var(--enzo-red);
    transition: .3s;
}

.nav li a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 600;
}

.about{
    display: grid;
    grid-template-columns:minmax(300px, 1200px);
    background-color: var(--enzo-red);
    color: #ffffff;
    font-size: var(--paragraph);
    padding: 3em 2em;
    justify-content: center;
    row-gap: 1em;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.about a{
    width: 150px;
}

.about input{
    width: 100%;
    padding: .7em;
    border-radius: 5px;
    border: none;
    outline: none;
    color: var(--enzo-red);
    font-weight: 600;
    box-shadow: -5px 5px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.about input:hover{
    background-color: #acd3f3;
    transition: 0.3s;
}

.content{
    display: grid;
    grid-template-columns:minmax(300px, 1200px);
    font-size: var(--paragraph);
    padding: 3em 2em;
    justify-content: center;
    align-items: center;
}

.content p{
    text-align: center;
    font-size: var(--paragraph);
}

.intention-box img{
    width: clamp(200px, 30vw, 300px);
}

@media screen and (min-width:1024px){
    .intention-box img{
        width: 200px;
    }
}

.intention{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns:minmax(300px, 1200px);
    padding: 5em 3em;
    justify-content: center;
    gap: 5em;
}

#box-1{
    position: relative;
}

#box-1 img{
    box-shadow: 10px 10px 0px var(--enzo-red);

}

#box-1::before{
    content: 'Get stackable results.';
    background-color: var(--enzo-red);
    height: 30px;
    border-radius: 50px 0 50px 0;
    padding: 1em 1.5em;
    line-height: 2;
    color: #ffffff;
    font-weight: 600;
    position: absolute;
    top: -30px;
    left:-20px
}

#box-2{
    position: relative;
}

#box-2 img{
    box-shadow: 10px 10px 0px var(--enzo-red);

}

#box-2::before{
    content: 'How my clients did it.';
    background-color: var(--enzo-red);
    height: 30px;
    border-radius: 50px 0 50px 0;
    padding: 1em 1.5em;
    line-height: 2;
    color: #ffffff;
    font-weight: 600;
    position: absolute;
    top: -30px;
    left:-20px;
}

.divider{
    width: 100%;
    height: 100vh;
    background-image: url(../images/pexels-leon-ardho-1552249.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em 2em;
}

.divider-box{
    max-width: 300px;
    justify-content: left;
    /* position: relative; */
}

.divider p{
    width: 100%;
    color: #ffffff;
    margin-bottom: 1em;
    position: relative;
}

.divider p::before{
    content: '';
    width: 3px;
    height: 100%;
    background-color: var(--enzo-red);
    position: absolute;
    left: -10px;
    font-size: var(--paragraph);
}

.divider p::after{
    content: '';
    width: 3px;
    height: 100%;
    background-color: var(--enzo-red);
    position: absolute;
    right: -10px;
    top: 0;
}

.divider a{
    width: 150px;
    margin-top: 1em;
}

.divider input{
    width: 100%;
    padding: .7em;
    background-color: var(--enzo-red);
    border-radius: 5px;
    border: none;
    outline: none;
    color: #ffffff;
    font-weight: 600;
    box-shadow: -5px 5px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.services img{
    width: clamp(100px, 15vw, 150px);
}

.services{
    display: flex;
    flex-wrap: wrap;
    gap: 5em;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1em;
    background-color: #acd3f3;
    padding: 5em 5%;
    margin-top: 0;
}

.services li{
    list-style: none;
    text-align: center;
    width: 300px;
    height: 250px;
    background-color: var(--enzo-red);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: .5em;
}

.services li p{
    font-size: var(--paragraph);
    color: #fff;
}

.grid-incourage{
    display: grid;
    grid-template-columns: 1fr 150px 1fr;
    grid-template-rows: 1fr 50px 1fr;
    background-color: #ff6589;
    padding: 5em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    color: #fff;
}

.grid-incourage-box{
    text-align: end;
    padding: 1em;
}

.grid-incourage-box:nth-child(2){
    text-align: start;
    grid-column: 3;
}

.grid-incourage-box:nth-child(4){
    text-align: start;
    grid-column: 3;
}

.grid-incourage a{
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    border: none;
    outline: none;
    background-color: var(--enzo-red);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    color: #ffffff;
    font-weight: 600;
    font-size: var(--paragraph);
    display: flex;
    text-align: center;
    align-items: center;
    padding: 1em;
    cursor: pointer;
    box-shadow: -5px 5px 8px rgba(0, 0, 0, 0.3);
}

.grid-incourage a:hover{
    background-color: #acd3f3;
    transition: 0.3s;
    color: var(--enzo-red);
}

.content-2{
    display: grid;
    grid-template-columns:minmax(300px, 1200px);
    font-size: var(--paragraph);
    padding: 3em 2em;
    justify-content: center;
    align-items: center;
    background-image: url(images/pexels-scott-webb-136404.jpg);
    background-position: center;
    background-size: cover;
    height: 30vh;
}

.content-2 p{
    color: #ffffff;
    text-align: center;
    font-size: var(--paragraph);
}

.contact{
    display: grid;
    grid-template-columns: 300px;
    justify-content: center;
    padding: 5em 0;
    background-color: var(--enzo-red);
    border-bottom: #ffffff solid 1px;
    color: #ffffff;
}

.contact input{
    background: none;
    border: none;
    border-bottom: #ffffff solid 1px;
    padding: 1em 0;
    margin-bottom: 1em;
    color: #ffffff;
}

.contact input::placeholder{
    color: #ffffff;
}

.contact input:focus,
.contact textarea:focus{
    border: none;
    outline: none;
    border-bottom: #ffffff solid 1px;
}

.contact textarea{
    background: none;
    border: none;
    border-bottom: #ffffff solid 1px;
    padding: 1em 0;
    margin-bottom: 1em;
    height: 150px;
    width: 100%;
    color: #ffffff;
}

.contact textarea::placeholder{
    color: #ffffff;
}

.checkbox{
    display: flex;
    list-style: none;
    margin-bottom: 1em;
}

.checkbox li p{
    font-size: .8rem;
}

.contact .submit{
    background-color: #ffffff;
    cursor: pointer;
    padding: 1em 3em;
    border-radius: 5px;
    width: 100%;
    padding: .7em;
    border-radius: 5px;
    border: none;
    outline: none;
    color: var(--enzo-red);
    font-weight: 600;
    box-shadow: -5px 5px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.contact .submit:hover{
    background-color: #acd3f3;
    transition: 0.3s;
}

footer{
    background-color: var(--enzo-red);
    /* height: 100px; */
    padding: 2em;
    text-align: center;
    align-items: center;
}

footer p{
    font-size: 0.8rem;
    color: #ffffff;
    margin-bottom: 1em;
}

footer img{
    width: 2em;
}

@media screen and (max-width:768px){
    .about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about a{
        width: 100%;
    }

    .divider-box{
        max-width: 100%;
    }

    .services{
        gap: 3em;
        padding: 5em 2em;
        margin-top: 0;
    }

    .grid-incourage{
        display: flex;
        flex-direction: column;
        background-color: #ff6589;
        padding: 3em;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        color: #fff;
    }

    .grid-incourage-box{
        text-align: center;
        padding: 1em;
    }

    .grid-incourage-box:nth-child(2){
        text-align: center;
        grid-column: 3;
    }

    .grid-incourage-box:nth-child(4){
        text-align: center;
        grid-column: 3;
    }

    .grid-incourage a{
        justify-self: center;
        align-self: center;
        text-decoration: none;
        border: none;
        outline: none;
        background-color: var(--enzo-red);
        border-radius: 5px;
        width: 150px;
        height: 30px;
        color: #ffffff;
        font-weight: 600;
        font-size: var(--paragraph);
        display: flex;
        text-align: center;
        align-items: center;
        cursor: pointer;
        box-shadow: -5px 5px 8px rgba(0, 0, 0, 0.3);
    }

.contact{
    grid-template-columns: 250px;
    padding: 3em 0;
}
}